<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IWT_OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data><applicationSettings>
        <IWT_OCR.Properties.Settings>
            <setting name="DB_File" serializeAs="String">
                <value>\\\192.168.1.51\IWT_SHARE\DB\IWT_SHARE.db3</value>
            </setting>
            <setting name="Local_DB" serializeAs="String">
                <value>C:\IWT_OCR\DB\IWT_DB.db3</value>
            </setting>
            <setting name="scanPath" serializeAs="String">
                <value>C:\IWT_OCR\SCAN\</value>
            </setting>
            <setting name="trayPath" serializeAs="String">
                <value>C:\IWT_OCR\TRAY\</value>
            </setting>
            <setting name="ngPath" serializeAs="String">
                <value>C:\IWT_OCR\OCRERROR\</value>
            </setting>
            <setting name="dataPath" serializeAs="String">
                <value>C:\IWT_OCR\DATA\</value>
            </setting>
            <setting name="wrNgPath" serializeAs="String">
                <value>C:\WinReaderPForm\error\</value>
            </setting>
            <setting name="wrHands_Path" serializeAs="String">
                <value>C:\WinReaderPForm\</value>
            </setting>
            <setting name="wrHands_Prg" serializeAs="String">
                <value>pFormMain.exe</value>
            </setting>
            <setting name="jobName_Nouhinsho" serializeAs="String">
                <value>納品書</value>
            </setting>
            <setting name="jobName_Nouhinkariden" serializeAs="String">
                <value>納品仮伝票0717</value>
            </setting>
            <setting name="jobName_Genpinhyo" serializeAs="String">
                <value>現品票</value>
            </setting>
            <setting name="wrReaderOutFile" serializeAs="String">
                <value>txtout.csv</value>
            </setting>
            <setting name="現品票パス" serializeAs="String">
                <value>C:\IWT_OCR\GENPIN\</value>
            </setting>
            <setting name="納品仮伝票パス" serializeAs="String">
                <value>C:\IWT_OCR\NOUHINKARI\</value>
            </setting>
            <setting name="納品書パス" serializeAs="String">
                <value>C:\IWT_OCR\NOUHIN\</value>
            </setting>
            <setting name="HoldTifPath" serializeAs="String">
                <value>c:\IWT_OCR\Hold_Tiff\</value>
            </setting>
            <setting name="recPath" serializeAs="String">
                <value>C:\IWT_OCR\RECOVERY\</value>
            </setting>
        </IWT_OCR.Properties.Settings>
    </applicationSettings>
</configuration>